/*배경 색상*/
body {
  background-color: #044a0c;
  text-align: center;
}

/*공백1 스타일*/
div.gongbackone {
  text-align: center;
  width: 486px;
  height: 120px;
}

/*상단 이미지 스타일*/
div.image-container {
  text-align: center;
  position: relative;
}

.background {
  z-index: 1;
}

.foreground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*인용구 스타일*/
@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
div.practice {
  font-family: "OTEnjoystoriesBA";
  font-size: 36px;
  text-align: center;
  color: #f5df4d;
}

/*공백2 스타일*/
div.gongbacktwo {
  text-align: center;
  width: 486px;
  height: 78px;
}

/*본문 스타일*/
div.main {
  text-align: center;
  position: relative;
}

div.quotes {
  z-index: 1;
  top: 641px;
  left: 1161px;
}

div.Gmarket {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
div.Gmarket {
  font-family: "GmarketSansBold";
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
span {
  font-family: "GmarketSansMedium";
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

/*공백3 스타일*/
div.gongbackthree {
  text-align: center;
  width: 486px;
  height: 102px;
}

/*프로그래밍 입력란 본문 스타일*/
.programing {
  font-family: "GmarketSansMedium";
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}

.fivetime {
  font-family: "GmarketSansMedium";
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}

/*입력란 스타일*/
input {
  text-align: center;
  width: 228px;
  height: 57px;
  font-family: "GmarketSansMedium";
  font-size: 24px;
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 10px;
}
input::placeholder {
  color: #babcbe;
}

/*공백4 스타일*/
div.gongbackfour {
  text-align: center;
  width: 486px;
  height: 115px;
}

/*버튼 스타일*/
.btn {
  text-align: center;
  height: 66px;
  width: 565px;
  top: 1071px;
  left: 678px;
  font-family: "GmarketSansBold";
  font-size: 24px;
  color: #5b2386;
  background-color: #fcee21;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
span.btn_img {
  padding-top: 10px;
}

/*공백5 스타일*/
div.gongbackfive {
  text-align: center;
  width: 486px;
  height: 147px;
}

/*본문2 스타일*/
span.pro {
  font-family: "GmarketSansBold";
  font-size: 72px;
}

div.fivethousand {
  font-family: "GmarketSansMedium";
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

/*공백6 스타일*/
div.gongbacksix {
  text-align: center;
  width: 486px;
  height: 127px;
}

/*버튼2 스타일*/
.btns {
  text-align: center;
  height: 66px;
  width: 356px;
  font-family: "GmarketSansBold";
  font-size: 24px;
  color: #5b2386;
  background-color: #fcee21;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btnt {
  text-align: center;
  height: 66px;
  width: 191px;
  font-family: "GmarketSansBold";
  font-size: 24px;
  color: #5b2386;
  background-color: #ffffff;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*공백7 스타일*/
div.gongbackseven {
  text-align: center;
  width: 486px;
  height: 279px;
}
