body {
  background-color: #044a0c;
}

div.image-container {
  text-align: center;
}

div.practice {
  font-family: "tvN Enjoystories";
  font-size: 36px;
  text-align: center;
  color: #f5df4d;
}

div.Gmarket {
  font-family: "Gmarket Sans";
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}
